/*----- ROOT VARIABLES -----*/
:root {
    --color-white:#fff;
    --color-black:#222;
    --color-soft-white:#ccc;
    --color-soft-black:#3a3a3f;
    --color-cool-gray:#ccc;
    --color-warm-gray:#aaa8a5;
    --main-button-color:#3B2E1E;
    --main-button-font-color:#E6DE89;
    --main-hover-font-color:#fff;
    --main-hover-background-color:#000;
    --main-border:2px solid #3B2E1E;
}

/*----- DEFAULT TYPOGRAPHY -----*/
body {
    font-family:calibri !important;
    background:#222;
    background-image:url(../img/Mossy_Bricks.webp);
    color:#eee;
}
h1, h2, h3, h4, h5, h6 {
    font-family:Cinzel;
}

a {
    text-decoration:none;
    color:var(--color-cool-gray);
    cursor:pointer;
}
a:hover {
    color:var(--color-white);
}
.nav-link {
    text-align:left;
}

/*----- BOX STYLES -----*/

.main-box {
    background:var(--color-black);
    color:var(--color-warm-gray);
    transition:0.3s ease;
}

.light-box, .light-box-bg-img {
    background:var(--color-soft-white);
    /*background-image:url(../img/360_F_426561532_8pXZZAbxSvm3FQ6WwNZxfCFqujFEgt3e.jpeg);
    background-size:contain; */
    color:var(--color-black);
}
.light-box a, .light-box-bg-img a {
    color:var(--color-black);
}
.light-box-bg-img {
    background-image:url(../img/360_F_426561532_8pXZZAbxSvm3FQ6WwNZxfCFqujFEgt3e.jpeg);
    background-size:contain;
}
.dark-box, .dark-box-bg-img {
    background:var(--color-soft-black);
    /*background-image:url(../img/41eb0caf960150d83cb08059f4cadf2a.jpeg);
    background-size:contain; */
    color:var(--color-cool-gray);
}
.dark-box a, .dark-box-bg-img a {
    color:var(--color-cool-gray);
}
.dark-box-bg-img {
    background-image:url(../img/41eb0caf960150d83cb08059f4cadf2a.jpeg);
    background-size:contain;
}

/*----- BUTTONS -----*/

button, input[type="button"], a.btn {
/*    margin:10px; */
}
button.btn.main-box:hover, button.btn.dark-box:hover, input[type="button"].main-box:hover, input[type="button"].dark-box:hover, a.nav-link:hover {
/*    margin:10px; */
    color:var(--color-white);
}

button.light-box:hover, input[type="button"].light-box:hover {
    color:var(--color-cool-gray);
    background:#444;
}
button.main-box:focus, input[type="button"].main-box:focus, button.dark-box:focus, input[type="button"].dark-box:focus, a.nav-link:focus {
    outline:transparent;
    color:#fff;
}

/*----- CUSTOM -----*/

.monospace {
    font-family:monospace;
    background:rgba(0,0,0,0.5);
    color:#fff;
    padding:3px;
}
.font-lg {
    font-size:18pt;
}
.font-xl {
    font-size:24pt;
}

/*----- SIDEBAR NO COLLAPSE -----*/

@media (min-width: 768px) {
  .collapse.dont-collapse-sm {
    display: block;
    height: auto !important;
    visibility: visible;
  }
}