/*----- ROOT VARIABLES -----*/
:root {
    --main-background-color:#222;
    --background-color-light:#ccc;
    --background-color-dark:#3a3a3f;
    --main-font-color:#aaa8a5;
    --font-color-light:#ccc;
    --font-color-dark:#222;
    --main-button-color:#3B2E1E;
    --main-button-font-color:#E6DE89;
    --main-hover-font-color:#fff;
    --main-hover-background-color:#000;
    --main-border:2px solid #3B2E1E;
}

/*----- DEFAULT TYPOGRAPHY -----*/
body {
    font-family:calibri !important;
    background:#222;
    background-image:url(../img/Mossy_Bricks.webp);
    color:#eee;
}
h1, h2, h3, h4, h5, h6 {
    font-family:Cinzel;
}

a {
    text-decoration:none;
    color:var(--font-color-light);
    cursor:pointer;
}
a:hover {
    color:var(--font-color-light);
}
.nav-link {
    text-align:left;
}

/*----- BOX STYLES -----*/

.main-box {
    background:var(--main-background-color);
    color:var(--main-font-color);
    transition:0.3s ease;
}

.light-box, .light-box-bg-img {
    background:var(--background-color-light);
    /*background-image:url(../img/360_F_426561532_8pXZZAbxSvm3FQ6WwNZxfCFqujFEgt3e.jpeg);
    background-size:contain; */
    color:var(--font-color-dark);
}
.light-box a, .light-box-bg-img a {
    color:var(--font-color-dark);
}
.light-box-bg-img {
    background-image:url(../img/360_F_426561532_8pXZZAbxSvm3FQ6WwNZxfCFqujFEgt3e.jpeg);
    background-size:contain;
}
.dark-box, .dark-box-bg-img {
    background:var(--background-color-dark);
    /*background-image:url(../img/41eb0caf960150d83cb08059f4cadf2a.jpeg);
    background-size:contain; */
    color:var(--font-color-light);
}
.dark-box a, .dark-box-bg-img a {
    color:var(--font-color-light);
}
.dark-box-bg-img {
    background-image:url(../img/41eb0caf960150d83cb08059f4cadf2a.jpeg);
    background-size:contain;
}

/*----- BUTTONS -----*/

button, input[type="button"], a.btn {
/*    margin:10px; */
}
.main-box button:hover, .dark-box button:hover, input[type="button"].main-box:hover, input[type="button"].dark-box:hover, a.nav-link:hover {
/*    margin:10px; */
    color:#fff;
}

button.light-box:hover, input[type="button"].light-box:hover {
    color:var(--font-color-light);
    background:#444;
}
button.main-box:focus, input[type="button"].main-box:focus, button.dark-box:focus, input[type="button"].dark-box:focus, a.nav-link:focus {
    outline:transparent;
    color:#fff;
}

/*----- SIDEBAR NO COLLAPSE -----*/

@media (min-width: 768px) {
  .collapse.dont-collapse-sm {
    display: block;
    height: auto !important;
    visibility: visible;
  }
}